@using WebApplication4.Entities
@using WebApplication4.Enums
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

@Html.Partial("CarComponents/CarFilterComponent")
@Html.Partial("CarComponents/CarListComponent")
@Html.Partial("CarComponents/CarPaginationComponent")




<div id="app">

		<carfilter-component
			ref="filterComponent"
			@* :page="currentPage" *@
			@* @@apply-filters="SetData" *@
		></carfilter-component>


		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-controller="Car" asp-action="Create" class="btn btn-primary">
					<i class="bi bi-plus-circle"></i> Create New Car
				</a>
			</div>
		</div>

	<div class="card shadow-lg p-3 mb-0 bg-body-tertiary rounded mt-2 mb-3">

		<cartable-component  ref="carComponent"
			@* :cars="cars"> *@>
		</cartable-component>
		
		<pagination-component ref="paginationComponent"
			@*  @@page-changed="onPageChange" *@
		></pagination-component>
	</div>

</div>

<script>
	new Vue({
		el: '#app',
		
		// methods: {
		// 	SetData(data){
		// 		// this.cars = data.data
		// 		// this.$root.$refs.currentPage = data.currentPage,
		// 		// this.$root.$refs.totalPages = data.totalPages
		// 	},
		// 	onPageChange(page) { 2-usul
		// 		this.currentPage = page;
		// 		this.$refs.filterComponent.pager.currentPage = page; 
		// 		this.$refs.filterComponent.applyFilters();
		// 	}
		// }
	});
</script>
