@using WebApplication4.Entities
@using WebApplication4.Enums
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

@Html.Partial("CarComponents/CarFilterComponent")
@Html.Partial("CarComponents/CarListComponent")
@Html.Partial("CarComponents/CarPaginationComponent")




<div id="app">

	

	<carfilter-component :page="currentPage"
						 @@apply-filters="SetData"></carfilter-component>
	<div class="row pb-3">
		<div class="col-6">
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Car" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> Create New Car
			</a>
		</div>
	</div>

	<div>
		<cartable-component :cars="cars">

		</cartable-component>
		
		<pagination-component
		 @@page-changed="onPageChange"
		:currentpage="currentPage"
		:totalpages="totalPages"
		
		></pagination-component>
	</div>
</div>






<script>
	new Vue({
		el: '#app',
		data() {
			return {
				cars: '',
				currentPage: 1,
				totalPages : 0,
			}
		},
		methods: {
			SetData(data){
				this.cars = data.data
				this.currentPage = data.currentPage,
				this.totalPages = data.totalPages
			},
			onPageChange(page) {
				this.currentPage = page;
			}
		}
			
		
	});
</script>
