@using WebApplication4.Entities
@using WebApplication4.Enums


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

@Html.Partial("Components/FilterComponent")
@Html.Partial("Components/CarTableComponent")
@Html.Partial("Components/PaginationComponent")


<div id="app">
	
	 <filter-component
		@@apply-filters="filterCarList" >
     </filter-component>

	<cartable-component
		:cars="cars" >
    </cartable-component>

	<pagination-component
		@@changePage="loadPage"
		:currentpage="currentPage"
		:totalpages="totalPages">
    </pagination-component>

</div>

<script>
	new Vue({
		el: '#app',
		data() {
			return {
				cars: '',
				currentPage: 1,
				totalPages: 0,
			}

		},
		methods:{
		 	async filterCarList(data){
				this.cars = data.data;
				this.currentPage = data.currentPage;
				this.totalPages = data.totalPages;
				
			},
		
			async loadPage(page) {
				this.currentPage = page;
			}
			
	    },
		
		
		
	});
</script>


