@using WebApplication4.Entities
@using WebApplication4.Enums


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="/js/vuex.js"></script>
<script src="/js/store.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

@Html.Partial("Components/FilterComponent")
@Html.Partial("Components/CarTableComponent")
@Html.Partial("Components/PaginationComponent")


<div id="app">
	
	 <filter-component></filter-component>

	 <cartable-component></cartable-component>

	 <pagination-component></pagination-component>

</div>

<script>
	let app = new Vue({
		el: '#app',
		store,
	});
</script>


