<script type="text/x-template" id="pagination-component-template">
	<div id="pagination-component">
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				<li class="page-item" :class="{ disabled : currentPage === 1 }">
					<button class="page-link" @@click="changePage(currentPage -1)">Pervious</button>
				</li>
				<li class="page-item" v-for="page in totalPages" :key="page" :class="{active : currentPage == page }">
					<button class="page-link" @@click="changePage(page)">{{page}}</button>
				</li>
				<li class="page-item" :class="{disabled : currentPage == totalPages}">
					<button class="page-link" @@click="changePage(currentPage+1)">Next</button>
				</li>
			</ul>
		</nav>
	</div>
</script>

<script>
	Vue.component('pagination-component',{
		template: '#pagination-component-template',
		data() {
			return {
				currentPage: 1,
				pageSize: 10,
				totalItems: 0
			}
		},
		methods: {
			
			changePage : function(page)
			{

				if(page > 0 && page <= this.totalPages)
				{
					this.currentPage = page;

					this.$root.$refs.filterComponent.applyFilters();

					// this.$emit('page-changed', page);
					
				}
			}
		},
		computed : {
			totalPages() {
				return Math.ceil(this.totalItems/this.pageSize);
			}
		},
		
	})
</script>


